@charset "UTF-8";

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: black url(../imagens/fundo-madeira.jpg) no-repeat top center fixed;
    background-size: cover;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main {
    height: 100vh;
    position: relative;
}

section#telefone {
    background: url('../imagens/frame-iphone.png') no-repeat center center fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.664);
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 10px black;
    transition: .2s, border .5s;
}